@font-face{
    font-family: "Vivaldi Italic";
    src: url(VIVALDII.TTF) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(254, 243, 229);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    font-family: "Vivaldi Italic";
    font-size: 25px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: rgb(250, 201, 7);
}

a:hover{
    color:black;
}


.container{
    margin: auto;
}

.col-2{
    height: 30rem;                    
}

.col-2 h1{
    font-family: "Vivaldi Italic";
    color: rgb(250, 201, 7);
    font-size: 100px;   
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.col-2 form{
    font-family: "Vivaldi Italic";
    color: rgb(250, 201, 7);
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%)
}

.col{
    height: 30rem;                    
}

.col h1{
    font-family: "Vivaldi Italic";
    color: rgb(250, 201, 7);
    font-size: 100px;   
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -30%)
}

.col p{
    font-family: "Vivaldi Italic";
    color: rgb(250, 201, 7);
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

.col form {
    color:rgb(250, 201, 7);
    font-family: "Vivaldi Italic";
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -44%);
}

input[type="email"]{
    color:rgb(250, 201, 7);
    box-shadow: 10px 5px #d0cfcf;
}

input[type="submit"]{
    color:rgb(250, 201, 7);
    box-shadow: 5px 5px #d0cfcf;
    font-family: "Vivaldi Italic";
    font-size: 25px;
}

footer div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    text-align: center;
}

